:root {
  --test-var: #252525c4;
}

/* ============== CALCULATOR ============== */
.calc {
  font-size: 1.2em;
  display: grid;
  height: 100%;
  gap: 0.15em;
  grid-template-columns: repeat(4, minmax(3em, auto));
  grid-template-rows: minmax(5em, auto) repeat(5, minmax(3em, auto));
}

.calc > button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  color: inherit;
}

.calc > [data-number] {
  background-color: rgba(0, 0, 0, 0.95);
}

.calc > button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.calc > .results {
  background-color: rgba(0, 0, 0, 0.25);
  max-width: 100%;
  grid-column: span 4;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 0.5em;
  word-wrap: break-word;
  word-break: break-all;
}

.calc > .results [data-previous] {
  font-size: 0.8em;
  min-height: 1em;
}

.calc > .results [data-current] {
  font-size: 1.5em;
  text-align: right;
}

/* TODO */
.calc > .history {
  display: none;
}

.calc > .wide {
  grid-column: span 2;
}

/* ============== KLONDIKE ============== */
.klondike {
  min-width: 700px;
  min-height: 400px;
}

.klondike > .start-screen [data-start] {
  outline: 2px solid red;
}

.klondike > .start-screen {
  display: block;
}

.klondike > .game-screen {
  display: none;
}

.klondike .piles {
  margin-right: auto;
  margin-left: auto;
  background-color: cornsilk;
}

.klondike .not-piles {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.klondike .card {
  width: 100px;
  height: 150px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  cursor: pointer;
  position: absolute;
  padding: 0;
  display: inline-block;
}

.klondike .card-face-front {
  transform: rotateY(-180deg);
}

.klondike .in-shown-pile {
  transform: rotateY(-180deg) translateX(-8em);
}

.klondike .card:hover {
  outline: 2px solid rgba(0, 0, 0, 0.5);
}

.klondike .card-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.klondike .card-container {
  position: absolute;
  top: 0;
  left: 0;
}

.klondike .deck {
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
  height: 150px;
  width: 100px;
  cursor: pointer;
}

.klondike .deck p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.klondike .aces {
  background-color: chartreuse;
  height: 150px;
  width: 640px;
}

.klondike .deck-area {
  position: relative;
  background-color: brown;
  width: 400px;
  height: 100px;
  outline: 3px solid red;
}

/* ============== SETTINGS ============== */
.settings {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 0;
  grid-template-rows: minmax(10em, auto);
  grid-template-columns: max-content minmax(20em, auto);
}

.settings .category-menu {
  text-align: left;
  font-weight: bold;
}

.settings .category-menu i {
  position: initial;
  transform: none;
  padding-right: 0.5em;
}

.settings .category-menu li {
  cursor: pointer;
  padding: 0.75em;
  transition: background-color 0.2s;
}

.settings .category-menu li.active {
  background-color: rgba(173, 173, 173, 0.2);
}

.settings .category-menu li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.settings .category-contents {
  display: none;
}

.settings .category-settings {
  background-color: var(--test-var);
  text-align: left;
  font-size: 1.15em;
  padding: 1em;
  padding-top: 0;
}

.settings .category-settings h3 {
  margin-top: 1em;
  margin-bottom: 0.4em;
  padding-bottom: 0.15em;
  border-bottom: 2px solid white;
}

.settings .category-settings h5 {
  margin-top: 1.5em;
  font-weight: normal;
}

.settings .category-settings label.slider {
  font-size: 0.75em;
  padding: 0 0.3em;
  position: absolute;
  top: 50%;
  transform: translateY(-35%);
}

.settings .margins {
  margin-top: 1em;
}

.settings .h5 {
  font-size: 0.8em;
}

.settings button[name='reset-settings'] {
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 1px;
  padding: 0.3em 0.8em;
  padding-bottom: 0.4em;
  font-size: 0.8em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 0.2em;
}

.settings button[name='reset-settings']:hover {
  background-color: var(--accent-color);
}
