:root {
  --window-border-blue: rgb(17, 0, 80);
}

body {
  font-size: 16px;
  font-family: 'lato', sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ============== DESKTOP ============== */
#desktop {
  position: relative;
  background-image: url('../img/background.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}

#desktop.darker {
  background-color: rgb(210, 223, 210);
}

/* ============== WINDOWS ============== */
.window {
  position: absolute;
  text-align: center;
  /* border: 2px solid var(--window-border-blue); */
  width: 300px;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.hide {
  transition: 0.01s;
  transform: translateX(-9999px);
}

.window > .header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  height: 2em;
  color: white;
  display: flex;
  cursor: grab;
}

.window > .header span {
  position: relative;
  text-align: center;
  display: inline;
}

.window > .header .icon {
  width: 2em;
}

.window > .header .title {
  flex: 1 0px;
}

.window > .header .title h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.window > .header .close {
  width: 2em;
  cursor: pointer;
}

.window > .header .close:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.75);
}

.window > .content {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

/* ============== TASKBAR ============== */
#taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3em;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999998;
  backdrop-filter: blur(2px);
}

.app-list {
  height: 3em;
  width: 3em;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
  outline: 2px solid red;
}

.app-list i {
  font-size: 1.2em;
}

.app-shortcuts {
  position: relative;
  overflow-x: scroll;
  height: 3em;
  color: white;
}

.app-shortcuts .container,
.app-list .container {
  position: absolute;
  height: 3em;
  width: 3em;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.app-shortcuts .container .indicator {
  position: absolute;
  transition: all 0.3s;
  background-color: turquoise;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0.2em;
  transform: translateY(0.2em);
}

.app-shortcuts .container.active .indicator {
  transform: translateY(0);
}

.app-shortcuts i {
  position: absolute;
  font-size: 1.5em;
}

.app-shortcuts .container:hover,
.app-list .container:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.85);
}

.app-shortcuts .windows-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  width: 6em;
  visibility: hidden;
  cursor: default;
  text-align: center;
  left: 50%;
  padding: 0.2em 0.1em;
}

.app-shortcuts .container:hover .windows-container {
  visibility: visible;
}
