:root {
  --window-border-blue: rgb(17, 0, 80);
}

body {
  font-size: 16px;
  font-family: 'lato', sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white-bg {
  background-color: white;
}

.blur-bg {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

.blur-bg-2 {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

/* ============== DESKTOP ============== */
#desktop {
  position: relative;
  background-image: url('../img/background.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}

#desktop.darker {
  background-color: rgb(210, 223, 210);
}

/* ============== WINDOWS ============== */
.window {
  position: absolute;
  text-align: center;
  /* border: 2px solid var(--window-border-blue); */
  width: fit-content;
  height: fit-content;
  min-width: 250px;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
  color: rgb(156, 156, 156);
  overflow: hidden;
}

.hide {
  transition: 0.01s;
  transform: translateX(-9999px);
}

.window > .header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  height: 2em;
  display: flex;
  cursor: grab;
}

.window > .header span {
  position: relative;
  text-align: center;
  display: inline;
}

.window > .header .icon {
  width: 2em;
}

.window > .header .title {
  flex: 1 0px;
}

.window > .header .title h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.window > .header .action {
  width: 2em;
  cursor: pointer;
}

.window > .header .action:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.75);
}

.window > .content {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.window > .resizer {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1.25em;
  width: 1.25em;
  cursor: grab;
}

.active-window {
  color: white;
}

/* ============== TASKBAR ============== */
#taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999997;
}

#taskbar .low {
  z-index: 999998;
}

#taskbar .high {
  z-index: 999999;
}

.app-list {
  width: 3em;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.app-list i {
  font-size: 1.2em;
}

.app-shortcuts {
  position: relative;
  overflow-x: scroll;
  height: 3em;
  color: white;
}

.app-shortcuts .container,
.app-list .container {
  position: absolute;
  height: 3em;
  width: 3em;
  cursor: pointer;
  transition: background-color 0.2s;
}

.not-being-corrected {
  transition: background-color 0.2s, color 0.2s, transform none;
}

.being-corrected {
  transition: background-color 0.2s, color 0.2s, transform 0.3s;
}

.app-shortcuts .container .indicator {
  position: absolute;
  transition: all 0.3s;
  background-color: turquoise;
  width: 2.86em;
  bottom: 0;
  left: 0.07em;
  height: 0.2em;
  transform: translateY(0.2em);
}

.app-shortcuts .container.open .indicator {
  transform: translateY(0);
}

.app-shortcuts .container.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-shortcuts i {
  position: absolute;
  font-size: 1.5em;
}

.app-shortcuts .container:hover,
.app-list .container:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.85);
}

.app-shortcuts .windows-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  width: 6em;
  visibility: hidden;
  cursor: default;
  text-align: center;
  left: 50%;
  padding: 0.2em 0.1em;
}

.app-shortcuts .container:hover .windows-container {
  visibility: visible;
}

/* ============== CALCULATOR ============== */
.calc {
  font-size: 1.2em;
  display: grid;
  height: 100%;
  gap: 0.15em;
  grid-template-columns: repeat(4, minmax(3em, auto));
  grid-template-rows: minmax(5em, auto) repeat(5, minmax(3em, auto));
}

.calc > button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  color: inherit;
}

.calc > [data-number] {
  background-color: rgba(0, 0, 0, 0.95);
}

.calc > button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.calc > .results {
  background-color: rgba(0, 0, 0, 0.25);
  max-width: 100%;
  grid-column: span 4;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 0.5em;
  word-wrap: break-word;
  word-break: break-all;
  width: 13em;
}

.calc > .results [data-previous] {
  font-size: 0.8em;
  min-height: 1em;
}

.calc > .results [data-current] {
  font-size: 1.5em;
  text-align: right;
}

/* TODO */
.calc > .history {
  display: none;
}

.calc > .wide {
  grid-column: span 2;
}
