/* ============== GENERAL STYLES ============== */
body {
  font-size: 16px;
  font-family: 'lato', sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white-bg {
  background-color: white;
}

.blur-bg {
  backdrop-filter: blur(2px);
}

.blur-bg-2 {
  backdrop-filter: blur(10px);
}

.relative {
  position: relative;
}

/* ============== DESKTOP ============== */
#desktop {
  position: relative;
  background-image: url('../img/background.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}

#desktop.darker {
  background-color: rgb(210, 223, 210);
}

/* ============== WINDOWS ============== */
.window {
  position: absolute;
  text-align: center;
  width: fit-content;
  height: fit-content;
  min-width: 250px;
  box-shadow: var(--window-shadow); /* TODO: removable in settings*/
  -webkit-box-shadow: var(--window-shadow);
  -moz-box-shadow: var(--window-shadow);
  color: rgb(156, 156, 156);
  overflow: hidden;
  border-radius: var(--window-border-radius);
  border-width: var(--window-border-width);
  border-color: var(--window-border-color);
  border-style: solid;
}

.hide {
  transition: 0.01s;
  transform: translateX(-9999px);
}

.window > .header {
  position: relative;
  height: 2em;
  display: flex;
  cursor: grab;
}

.window::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  opacity: var(--background-transparency);
  content: '';
  width: 100%;
  height: 100%;
}

.window > .header span {
  position: relative;
  text-align: center;
  display: inline;
}

.window > .header .icon {
  width: 2em;
}

.window > .header .title {
  flex: 1 0px;
}

.window > .header .title h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.window > .header .action {
  width: 2em;
  cursor: pointer;
}

.window > .header .action:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.75);
}

.window > .content {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.window > .resizer {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1em;
  width: 1em;
  cursor: nwse-resize;
}

.window > .resizer-y {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0.3em;
  width: 100%;
  cursor: ns-resize;
}

.window > .resizer-x {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.3em;
  height: 100%;
  cursor: ew-resize;
}

.window.active {
  color: var(--font-color);
}

/* ============== TASKBAR ============== */
#navigation-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999995;
  width: 100vw;
}

#taskbar {
  z-index: 999997;
}

#taskbar::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  opacity: var(--background-transparency);
  content: '';
  width: 100%;
  height: 100%;
}

#taskbar .low {
  z-index: 999998;
}

#taskbar .high {
  z-index: 999999;
}

.app-menu {
  width: 3em;
  color: var(--font-color);
  transition: background-color 0.2s;
}

.app-menu i {
  font-size: 1.2em;
}

.app-shortcuts {
  position: relative;
  overflow-x: scroll;
  height: 3em;
  color: var(--font-color);
}

.app-shortcuts .container,
.app-menu .container {
  position: absolute;
  height: 3em;
  width: 3em;
  cursor: pointer;
  transition: background-color 0.2s;
}

.not-being-corrected {
  transition: background-color 0.2s, color 0.2s, transform none;
}

.being-corrected {
  transition: background-color 0.2s, color 0.2s, transform 0.3s;
}

.app-shortcuts .container .indicator {
  position: absolute;
  transition: all 0.3s;
  background-color: var(--accent-color);
  width: 2.86em;
  bottom: 0;
  left: 0.07em;
  height: 0.2em;
  transform: translateY(0.2em);
}

.app-shortcuts .container.open .indicator {
  transform: translateY(0);
}

.app-shortcuts .container.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-shortcuts i {
  position: absolute;
  font-size: 1.5em;
}

.app-shortcuts .container:hover,
.app-menu .container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-shortcuts .windows-container {
  position: absolute;
  border-radius: 2px;
  width: 6em;
  visibility: hidden;
  cursor: default;
  text-align: center;
  left: 50%;
  padding: 0.2em 0.1em;
  background-color: var(--background-color);
}

.app-shortcuts .container:hover .windows-container {
  visibility: visible;
}

/* ============== APP LIST MENU ============== */
#app-menu {
  color: var(--font-color);
  height: 19.5em;
  width: fit-content;
  position: absolute;
  display: block;
  bottom: 3em;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: default;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  transition: bottom 0.3s;
}

#app-menu::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent; /* make scrollbar transparent*/
}

#app-menu.hidden {
  bottom: -20em;
}

#app-menu ul i {
  position: initial;
  top: 0;
  left: 0;
  transform: none;
  margin-right: 0.5em;
}

#app-menu li {
  cursor: pointer;
  padding: 0.8em;
  transition: 0.2s background-color;
}

#app-menu-search {
  height: 2.5em;
  padding: 0.75em;
  outline: none;
  background-color: rgba(0, 0, 0, 0.85);
  border: none;
  color: white;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

#app-menu ul li.selected {
  background-color: rgba(200, 200, 200, 0.2);
}

#app-menu ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* ============== RIGHTCLICK MENU ============== */
/* TODO */
#right-click-menu {
  position: absolute;
  color: white;
  display: none;
}

#right-click-menu div {
  cursor: pointer;
}

/* ============== CUSTOM CHECKBOXES ============== */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
  margin-top: 0.3em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.check-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch:hover .check-slider {
  background-color: rgb(235, 235, 235);
}

.check-slider:before {
  position: absolute;
  content: '';
  height: 0.65em;
  width: 0.65em;
  left: 0.18em;
  bottom: 0.18em;
  background-color: var(--background-color);
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

input:checked + .check-slider {
  background-color: var(--accent-color);
}

input:focus + .check-slider {
  box-shadow: 0 0 1px #161616;
}

input:checked + .check-slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

.check-slider.round {
  border-radius: 2em;
}

.check-slider.round:before {
  border-radius: 50%;
}

/* status = short message to the right of the check (like "on" or "off") */
.check-status {
  position: absolute;
  left: 2.3em;
  top: 0.15em;
}

.switch-container {
  width: fit-content;
}

/* ============== CUSTOM RANGE SLIDERS ============== */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_rangeslider_round */
.range-slider {
  -webkit-appearance: none;
  width: 95%;
  height: 0.4em;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  outline: none;
  -webkit-transition: 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
}

.range-slider:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  background-color: var(--font-color);
  border: 3px solid rgba(255, 255, 255, 0.75);
  transition: background-color 0.2s;
}

.range-slider::-moz-range-thumb {
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  background: var(--font-color);
  transition: background-color 0.2s;
}
