:root {
  --body-bg: hsl(0, 0%, 7%);
  --settings-bg: hsl(0, 0%, 11%);
  --hsl18: hsl(0, 0%, 18%);
  --hsl20: hsl(0, 0%, 20%);
  --hsl28: hsl(0, 0%, 28%);
  --font-color-1: hsl(0, 0%, 85%);
  --font-color-2: hsl(0, 0%, 75%);
  --correct-light: rgb(63, 153, 63);
  --correct-dark: rgb(34, 122, 34);
  --badpos-light: rgb(177, 153, 19);
  --badpos-dark: rgb(148, 127, 5);
  --grey-1: hsl(0, 0%, 40%);
  --grey-2: hsl(0, 0%, 30%);
  --grey-3: hsl(0, 0%, 20%);
  --checkbox-bg: rgba(255, 255, 255, 0.055);
  --checkbox-border: hsl(0, 0%, 20%);
  --inactive-cell-border: hsl(0, 0%, 30%);
  --color-transition: 0.35s;
  --keyboard: hsl(0, 0%, 40%);
  --keyboard-hover: hsl(0, 0%, 30%);
}

:root[lightmode] {
  --body-bg: hsl(0, 0%, 90%);
  --settings-bg: hsl(0, 0%, 83%);
  --font-color-1: hsl(0, 0%, 11%);
  --font-color-2: hsl(0, 0%, 35%);
  --font-color-3: hsl(0, 0%, 20%);
  --checkbox-bg: hsl(0, 0%, 95%);
  --checkbox-border: hsl(0, 0%, 45%);
  --inactive-cell-border: hsl(0, 0%, 65%);
  --keyboard: hsl(0, 0%, 71%);
  --keyboard-hover: hsl(0, 0%, 50%);
}

:root[no-transition] {
  --color-transition: 0s;
}

body {
  justify-content: center;
  margin: 0;
  background-color: var(--body-bg);
  transition: all var(--color-transition);
  color: var(--font-color-1);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  font-size: 16px;
}

.content {
  padding-top: 1rem;
  width: fit-content;
}

h1 {
  text-align: center;
}

#grid {
  width: fit-content;
  display: grid;
  gap: 0.25rem;
  grid-template-rows: repeat(6, 3rem);
  grid-template-columns: repeat(5, 3rem);
}

#grid div {
  font-size: 1.5em;
  border-width: 2px;
  font-weight: bold;
  border-style: solid;
  border-color: var(--inactive-cell-border);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-cell {
  border-color: var(--grey-1) !important;
}

.incorrect-guess {
  border-color: var(--grey-2) !important;
  background-color: var(--grey-1) !important;
}

.correct-guess {
  border-color: var(--correct-dark) !important;
  background-color: var(--correct-light) !important;
}

.incorrect-pos-guess {
  border-color: var(--badpos-dark) !important;
  background-color: var(--badpos-light) !important;
}
.incorrect-guess,
.correct-guess,
.incorrect-pos-guess {
  color: hsl(0, 0%, 85%);
}

#keyboard {
  width: fit-content;
  display: grid;
  gap: 0.25rem;
  grid-template-rows: repeat(3, 3rem);
  line-height: 3rem;
}

#keyboard span {
  border-radius: 3px;
  background-color: var(--keyboard);
  text-align: center;
  cursor: pointer;
  position: relative;
}

#keyboard span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
}

#keyboard span:hover::before {
  background-color: rgba(0, 0, 0, 0.1);
}

#keyboard span.incorrect-guess {
  background-color: var(--grey-3) !important;
}

#keyboard div {
  display: grid;
  gap: 0.25rem;
  justify-content: center;
}

#area-1 {
  grid-template-columns: repeat(10, 3rem);
}

#area-2 {
  grid-template-columns: repeat(9, 3rem);
}

#area-3 {
  grid-template-columns: 4.6rem repeat(7, 3rem) 4.6rem;
}

#error-out {
  width: fit-content;
  color: var(--font-color-2);
  padding: 1rem;
  font-weight: bold;
  height: 2rem;
  line-height: 2rem;
}

nav {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 0.125rem;
}

nav span {
  cursor: pointer;
  padding: 0.4rem 0;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
}

nav span:hover {
  background-color: var(--settings-bg);
}

#settings-area {
  transition: all var(--color-transition), color 0.1s;
  background: var(--settings-bg);
  color: var(--font-color-3);
  height: 0;
  overflow: hidden;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 3px;
  font-weight: bold;
}

#settings-area div {
  padding: 0.75rem 0.5rem;
}

.height-auto {
  height: 5.25rem !important;
}

.checkbox-custom {
  display: none;
}

/* text */
.checkbox-custom-label {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

/* box */
.checkbox-custom + .checkbox-custom-label:before {
  content: "";
  background-color: var(--checkbox-bg);
  border: 1px solid var(--checkbox-border);
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
  margin-top: -3px;
  transition: all var(--color-transition);
}

/* checkmark */
.checkbox-custom:checked + .checkbox-custom-label:after {
  content: "";
  padding: 2px;
  text-align: center;
  position: absolute;
  width: 2px;
  height: 12px;
  border: solid var(--font-color-1);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  top: -6px;
  left: 5px;
  transition: all var(--color-transition);
}

#checkbox-2 + .checkbox-custom-label:after {
  top: -5px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
